html {
    background-color: #9f9545;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.container-hompage {
    background-color: brown;
    height: 500px;
    width: auto;
}
.baniere-homepage {
    position: relative;
    width: 1905px;
    height: 500px;
}    

.logo {
    z-index: 1;
    position: absolute;
    margin-left: 10px;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

li {
    position: relative;
    list-style: none;
    display:inline-block;
    width: 200px;
   
}

nav.menu {
    position: absolute;
    background-color: #343907;
    z-index: 1; 
    width: 1905px;
    height: 35px;
    display: block;
    text-align: center;
    padding-bottom: 15px;
}

.btn-menu {
    background-color:#fbe5c0;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-inline: 30px;
    height: 15px;
    width: 150px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .btn-menu-recherche {
    background-color:white;
    border-radius: 10px;
    padding: 5px 30px;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-inline: 30px;
    height: 15px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

.presentation {
    z-index: 2;
    float: right;
    position: absolute;
    top: 350px;
    left: 50px;
    font-weight: bolder;
}

h1 {
    text-align: center;
    margin-top: 75px;
    font-size: 40px;
}

.identite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 150px 0px 150px;
    cursor: pointer;
} 

.icon {
    text-align: center;
    font-weight: bold;
}

.nos-valeurs {
    height: 200px;
    width: 200px;
}

.annimaux {
    height: 200px;
    width: 200px;
}
 
.Nos-action-pour-la-nature {
    height: 200px;
    width: 200px;
}

.Nos-éspaces {
    height: 200px;
    width: 200px;
}
  
.baniere-histoire {
    margin-top: 100px;
    position: relative;
    width: 1905px;
    height: 500px;
}

.logo-histoire {
    z-index: 1;
    position: absolute;
    margin-left: 10px;
    margin-top: 101px;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

h2.histoire {
    position: absolute;
    z-index: 2;
    margin-top: 400px;
    margin-left: 820px;
    font-weight: bold;
    font-size: 40px;
}

.histoire-du-zoo {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}

#caroussel {
    width: 800px;
    height: 400px;
    border: solid 4px #FFF;
    box-shadow:0 0 14px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
}

#container {
    width: 800px;
    height: 400px;
}

#photo {
    width: 800px;
    height: 400px;
    margin: 0;
    display: inline-block;
    background-size: cover;
}

.bouton {
    position: absolute;
    width: 70px;
    cursor: pointer;
    top: 150px;
}

#g {
    left: 0;
    opacity: 0.4;
    transform: rotate(180deg);
    transition: 0.3s ease;
}
#d {
    right: 0;
    opacity: 0.4;
    transform: rotate(0deg);
    transition: 0.3s ease;
}

#g:hover {
    transform: rotate(180deg) scale(1.1);
    opacity: 1;
    transition: 0.3s ease;
}
#d:hover {
    transform: rotate(0deg) scale(1.1);
    opacity: 1;
    transition: 0.3s ease;
}

.logo-valeurs {
    z-index: 1;
    position: absolute;
    margin-left: 10px;
    margin-top: 102px;
    height: 150px;
    width: 150px;
    cursor: pointer;
}
.baniere-valeurs{
    margin-top: 100px;
    position: relative;
    width: 1905px;
    height: 500px;
}

h2.nos-valeurs {
    position: absolute;
    z-index: 2;
    margin-top: 380px;
    margin-left: 850px;
    font-weight: bold;
    font-size: 40px;
}

p.identite {
    text-align: center;
    font-weight: bold;
}